
body {
    margin: 0;
    text-align: center;
    font-family: "Montserrat",serif;
    background-color: #E4F9F5;
}

h1{
    margin-top: 0rem;
    font-family: Sacramento;
    font-size: 5rem;      /* 80px*/
    padding-top: 5rem;    /* 80px*/
    color: #66BFBF
}

h2{
    color: #66BFBF;
    font-weight: normal;
}

.topbox{

    background-color: #E4F9F5;
 
    position: relative;
}

.bottomcloud{
    position: absolute;
    left: 15.6rem; /*250px*/
    top:18.75rem;     /* 300px*/
}

.topcloud{
    position: absolute;
    right: 12.5rem; /*200px*/
    top: 2rem ; /*50px*/

}

.logoc{
    border-radius: 60%;
    height:15.6rem ;   /*250px*/
    width:15.6rem ;    /*250px*/
}


.imagemperfil{
    padding-top: 1.25rem;   /*20px*/
}

.dream{
    font-size:1.56rem;    /*25px*/
    color: #66BFBF;
}

.montanha{
    width: 26.8rem;   /*430px*/
}

.contact-me .btn{
    text-decoration:none;
    color: black;
}

.diviconface.img{
    position: relative;
    bottom: 3rem;
    right: 1.3rem;
   
}
.divgithub.img{
    position: relative;
    right: 1.3rem;
}

.logomiguel{
    position: relative;
    bottom: 0.4rem;
    right: 0.5rem;

}
.logogit{
    width: 2.5rem;
    padding-bottom: 1rem;
}

.logoface{
    width: 2.5rem;
}

.logogit:hover{
    width: 3.5rem;
    padding-bottom: 1rem;
}

.logoface:hover{
    width: 3.5rem;
}
.logoc{
    width:7rem;
    height: 7rem;
    padding-bottom: 2rem;
}

.botaogetintouch{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    background: #3498db;
    border-radius: 3.5rem;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;

}
.botaogetintouch:hover{
  background: #3cb0fd;
}
hr{
    width: 3.5rem;
    border:dotted #D8D8D8 6px;
    border-bottom: none;
    margin: 5rem auto 5rem auto;

}

.skills {
    font-size: 3.5rem;
}
    


